<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @problem.name %>
</p>

<p>
  <b>Description:</b>
  <%= @problem.description %>
</p>


<%= link_to 'Edit', edit_competition_problem_path(@competition, @problem) %> |
<%= link_to 'Back', competition_problems_path %>
