#navbar
  %ul
    %li 
      = link_to "#{t :dashboard}", "/judge", :id => "navbar-dashboard", :class => request.path == "/judge" ? "selected" : "" 
      = link_to "#{t :problems}", "/judge/problems", :id => "navbar-problems",
 :class => request.path == "/judge/problems" ? "selected" : ""
      = link_to "#{t :solutions}", "/judge/solutions", :id => "navbar-solutions",
 :class => request.path == "/judge/solutions" ? "selected" : ""
