%table{:id => "judge-table"}
  %thead
    %tr
      %th #{t :contestant}
      - @problems.each do |problem|
        %th 
          #{problem.name}
  %tbody
    - @contestants.each do |contestant|
      %tr
        %td
          = link_to "#{contestant.profile.full_name}", contestant_path(contestant)
        - @problems.each do |problem|
          - if problem.get_solution_for(contestant)
            %td
              %b
                #{relative_to(@competition, problem.get_solution_for(contestant).created_at.to_time)}
                %br
                (  
                = link_to "#{t :view_solution}", [@competition, problem, problem.get_solution_for(contestant)], |
                  :class => "link"
                )
          - else
            %td #{t :pending}
    

.solution-dialog{:title => "#{t :solution}"}
  %p
