%table{:id => "judge-table"}
  %thead
    %tr
      %th #{t :contestant}
      - @problems.each do |problem|
        %th 
          #{t :problem}: #{problem.name}
  %tbody
    - @contestants.each do |contestant|
      %tr
        %td
          = contestant.profile.full_name
        - @problems.each do |problem|
          - if problem.get_solution_for(contestant)
            %td
              = link_to "#{t :view_solution}", [@competition, problem, problem.get_solution_for(contestant)], |
                :class => "link"
          - else
            %td #{t :pending}
    

.solution-dialog{:title => "#{t :solution}"}
  %p
