%hr
%table
  %thead
    %tr
      %th{:class => "center", :colspan => "4"}
        = t :personal_data
  %tbody
    %tr
      %td{:class => "title"}
        = t :first_name
      %td
        = current_user.profile.first_name
      %td{:class => "title"}
        = t :last_name
      %td
        = current_user.profile.last_name
%hr
