<% if !@problems.empty? %>
  <% @problems.each do |problem| %>
    <h3><%= link_to problem.name, [@competition, problem] %></h3>
    <p><%= problem.description %></p>
    <%= if problem.solved_by(current_user) %>

    <%= else %>
    <%= link_to "Submit solution", [@competition, problem] %>
    <% end %>
  <% end %>
<% else %>
  <p>There are no problems</p>
<% end %>
