- if !@problems.empty?
  - @problems.each do |problem|
    .problem
      %h1.problem-header
        = problem.name
      .problem-body
        %p.problem-description
          = problem.description
       
        - if problem.solved_by?( current_user )
          %p Solved!
        - else
          = link_to "Submit solution", [@competition, problem], :remote =>:true, :class=>"create-solution"
          .create-solution-form
            = form_for([@competition, problem, Solution.new]) do |f|
              = f.text_area :source_code
              %br
              = submit_tag "Submit solution"
- else
  There are no problems
