.solution
  %h2 #{t :solution_of_contestant, :contestant => @contestant.profile.full_name}
  .problem-section
    %p{:class => "align_right"}
      Anunciado del problema
    %hr
    != @problem.description
    
  .details
    %span Solucion
    %pre{:class => "prettyprint source_code"}
      = @solution.source_code

    %table
      %tr
        %td
          = t :contestant
        %td
          = @solution.user.profile.full_name
      %tr
        %td
          = t :time_of_submission 
        %td 
          #{relative_to(@competition, @solution.created_at.to_time)}
      %tr
        %td
          = t :programming_language
        %td
          = @solution.programming_language

    %h2
      = t :details
    - if @solution.solution_detail
      #{t :result}:
      = @detail.result
      %table
        %thead
          %th
            = t :input
          %th
            = t :output
        %tbody
          %tr
            %td
              = @detail.input
            %td
              = @detail.output
      %p

      - if @detail.traceback
        %p #{t :traceback}
        = @detail.traceback
    - else
      = t :no_details_available

%hr
  = link_to "#{t :back_to_overview}", "/judge/", :class => "big center"
%hr
