.solution
  .problem-section
    %h2
      = @problem.name
    %p
      = @problem.description
    
  %h2 #{t :solution_of_contestant, :contestant => @contestant.profile.full_name}</b>

  = t :time_since_submission #{time_ago_in_words(@solution.created_at)}

  %pre{:class => "prettyprint"}
    = @solution.source_code
   
  .details
    %h2
      = t :details
    - if @solution.solution_detail
      %p #{t :result}
      = @detail.result
      %table
        %thead
          %th
            = t :input
          %th
            = t :output
        %tbody
          %tr
            %td
              = @detail.input
            %td
              = @detail.output
      %p

      - if @detail.traceback
        %p #{t :traceback}
        = @detail.traceback
    - else
      = t :no_details_available
